.informationContainer {
	border-radius: 10px;
	background-color: #fd6073;
	width: 270px;
	margin-bottom: 15px;
}

.informationContainer p {
	font-size: 18px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: white;
	text-align: center;
}

.gameEnd {
	font-weight: 700;
}
